.comment-list {
  background-color: hsl(var(--clr-light-300));
  border-radius: 10px;

  .separator-horizontal {
    background-color: hsl(var(--clr-dark-400-15pc));
    width: 90%;
    height: 1px;
    margin: 2rem auto;
  }
}

.comment-list__count {
  font-size: var(--fs-heading-200);
  padding: 2rem;
}
