.feedback-meta {
  background-color: hsl(var(--clr-light-300));
  padding: 1.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &:focus-within {
    box-shadow: var(--box-shadow-2);
  }
}

.feedback-meta__title {
  font-size: var(--fs-heading-200);
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.feedback-meta__tags {
  margin-top: 0.5rem;
}

.feedback-meta__content {
  color: hsl(var(--clr-dark-300));
}

.feedback-meta__upvote-btn {
  order: 1;
  align-self: start;
}

.feedback-meta__container {
  order: 2;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feedback-meta__comments {
  order: 3;
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 0.5rem;
  font-size: var(--fs-body-400);
}

@media (max-width: 48rem) {
  .feedback-meta {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 1.5rem;
  }

  .feedback-meta__upvote-btn {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .feedback-meta__container {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .feedback-meta__comments {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-content: end;
  }
}
