.textarea-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.textarea {
  background-color: hsl(var(--clr-light-400));
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  transition: background-color 0.3s ease;
  resize: none;
  z-index: 2;

  &:hover {
    background-color: hsl(var(--clr-light-500));
  }
}

.textarea__error {
  font-size: var(--fs-heading-100);
  height: 1rem;
  display: block;
  color: hsl(var(--clr-alert));
  z-index: 1;
}
