.roadmap__container {
  margin-inline: auto;
  max-width: 72rem;
  padding: 3rem 0;
}

.roadmap__header {
  background-color: hsl(var(--clr-dark-500));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;

  .btn[data-type="blank"] {
    background-color: hsl(var(--clr-dark-500));
    color: hsl(var(--clr-light-300));
  }
}

.roadmap__heading {
  color: hsl(var(--clr-light-300));
  font-size: var(--fs-heading-400);
}

.roadmap__board {
  --flow-space: 1.5rem;
  display: flex;
  gap: 2rem;

  h2 {
    font-size: var(--fs-heading-200);
  }

  p {
    color: hsl(var(--clr-dark-300));
  }
}

.roadmap__section-description {
  margin-bottom: 2rem;
}

.roadmap__planned,
.roadmap__in-progress,
.roadmap__live {
  width: 33%;
}

@media (max-width: 48rem) {
  .roadmap__container {
    padding-top: 0;
  }

  .roadmap__header {
    border-radius: 0;
    padding: 1.5rem;
  }

  .roadmap__board {
    flex-direction: column;
  }

  .roadmap__planned,
  .roadmap__in-progress,
  .roadmap__live {
    width: 90%;
    margin: 0 auto;
  }

  .roadmap__section-description {
    --flow-space: 0.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
  }
}
