@font-face {
  font-family: "Jost";
  src: local("Jost"), url("../assets/fonts/Jost.ttf");
  font-display: swap;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-light-300);
  color: var(--clr-dark-400);
  font-weight: var(--font-weight-light);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-400-75pc) var(--gray-100);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--gray-100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray-400-75pc);
  border-radius: 20px;
  border: 5px solid var(--gray-100);
}
