.hero {
  position: relative;
  background-color: red;
  padding: 4.2rem 0.2rem;
  background: radial-gradient(166.82% 166.82% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%);

  border-radius: 0.625rem;

  .sign {
    border: none;
    color: white;
    text-decoration: underline;
    background: none;
  }

  .feedback-sign-in {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .user-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 0.8rem;
    color: white;
  }
}

.hero__title {
  position: absolute;
  top: 2rem;
  padding: 1.5rem;

  h1 {
    color: hsl(var(--clr-light-300));
    font-size: var(--fs-heading-300);
  }

  p {
    font-size: var(--fs-body-300);
    color: hsl(var(--clr-light-300));
    opacity: 0.75;
  }
}

@media (max-width: 64rem) {
  .hero {
    width: 100%;
    min-width: 13.125rem;
    max-width: 13.75rem;
    padding: 5.2rem 0.2rem;
  }

  .hero__title {
    top: initial;
  }
}

@media (max-width: 48rem) {
  .hero {
    display: none;
  }
}
